[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-migrate = "*"
pytest = "*"
faker = "*"
termcolor = "*"

[packages]
alembic-data = {editable = true, path = "./extensions/alembic-data"}
flask = "*"
flask-sqlalchemy = "*"
flask-rest = {editable = true,path = "./extensions/flask-rest"}
flask-restful = "*" # TODO: REMOVE
marshmallow = "*"
flask-jwt-extended = "*"
flask-talisman = "*"

[requires]
python_version = "3.7"

[scripts]
serve = "flask run"
test = "pytest"
