[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-migrate = "*"
pytest = "*"
faker = "*"
termcolor = "*"
mypy = "*"

[packages]
alembic-data = {path = "./extensions/alembic-data", extras = ["types"], editable = true}
flask = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-jwt-extended = "*"
flask-talisman = "*"

[requires]
python_version = "3.7"

[scripts]
serve = "flask run"
test = "pytest"
